

#sidebar {
    background-color: rgb(0, 27, 27);
    border-style: solid;
    border-width: .05rem;
    border-color: dimgray;
  }
  
  #side-buttons {
    display: flex;
    flex-direction: column;
  }
  
  #side-buttons button {
    background-color: rgba(0, 0, 0, 0.08);
    min-width: 4rem;
    min-height: 4rem;
    border: none;
    color: white;
  }
  
  #side-buttons button:hover {
    background-color: rgba(219, 219, 219, 0.08);
  }
  
  #content-side {
    background-color:rgb(0, 27, 27);
    border-style: solid;
    border-width: .05rem;
    border-color: dimgray;
  }
  
  #content-side button {
    background-color: rgba(0, 0, 0, 0.08);
    border: none;
    color: white;
    font-size: medium;
  }
  
  #content-side button:hover {
    background-color: rgba(219, 219, 219, 0.08);
  }
  
  #content-side p {
    margin: 0px;
  }
  
  #side-head {
    display: flex;
    flex-direction: row;
  }
  
  #content-buttons {
    display: flex;
    flex-direction: column;
    border: none;
    color: white;
  }
  